html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: white;
  min-width: 320px;
}

body * {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

ul, li, a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

#map {
  height: 100%;
}

input, button {
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

::placeholder {
  color: white;
  opacity: 1;
  font-weight: 400;
}

#searchfrominput, #searchtoinput {
  /* display: flex;
  align-self: center; */
  color: white;
  font-weight: 400;
  font-size: 12pt;
  padding: 0px 45px 0px 35px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #141c28;
  border-radius: 3px;
  border: 2px solid black;
  margin-left: 2px;
}

.locationchoicecontainer {
  width: 14px;
  position: absolute;
  display: flex;
  right: 22px;
  top: 15px;
}

#searchfrominput:focus,
#searchtoinput:focus, {
  opacity: 1;
}

#searchfrominput:focus, #searchtoinput:focus, .submitbutton:focus, .geolocationButton:focus {
  cursor: pointer;
  border: 2px solid #4285F4;
  opacity: 1;
}

.submitbutton img {
  width: 15px;
}

.submitbutton {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 44px;
  height: 100%;
  opacity: 0.5;
}

.submitbutton:hover, .submitbutton:focus {
  cursor: pointer;
  opacity: 1;
}

.topsearchlabel {
  position: absolute;
  height: 100%;
  padding-left: 11px;
  display: flex;
  align-self: center;
  z-index: 1;
  margin-left: 2px;
}

.searchiconimg {
  align-self: center;
  width: 16px;
}

.topsearchcontainer {
  height: 50px;
  display: flex;
  position: relative;
  padding: 0;
  margin: 5px;
}

header {
  background-color: #1b2638;
  width: 100%;
  position: relative;
}

.hideElement {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.bodycontainer {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.mapsection {
  position: relative;
  width: 100%;
  height: 40vh;
  float: right;
  flex: 1 1 auto;
}

.infoaside{
  position: relative;
  height: 100%;
  width: 100%;
  float: right;
  background-color: #0e1219;
  /* overflow: scroll; */
  flex: 1 1 auto;
}

.infocontainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 590px;
  height: 100%;
}

.geolocationContainer {
  position: relative;
}

.geolocationButton {
  position: absolute;
  right: 9pt;
  bottom: 14pt;
  background-color: rgba(43, 43, 43, 1);
  border: none;
  outline: none;
  width: 36pt;
  height: 36pt;
  border-radius: 40%;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  cursor: pointer;
  /* margin-right: 10px; */
  padding: 0px;
  display: flex;
  justify-content: center;
  opacity: 1;
}

.geolocationButton:hover, .geolocationButton:focus {
  opacity: 1;
}

.geolocationImg {
  width: 18pt;
  height: 18pt;
  background-size: 180px 18px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.pac-container {
  background-color: #0e1219;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 15px;
  border: none !important;
  opacity: 1;
}

.pac-item > span:nth-child(-n+3) {
  color: white;
  /* line-height: 30px; */
  font-size: 16px;
  font-weight: 400;
  float: left;
  clear: left;
}

.pac-matched {
  font-weight: 400 !important;
}

.pac-item:hover, .pac-item:focus, .pac-item-selected {
  background-color: #2159a8;
  opacity: 1;
}

.pac-item {
  border-color: white !important;
  border: none;
  height: 60px;
}

.pac-icon {
  display: none;
}

.pac-item > span:last-of-type {
  opacity: 0.8;
  line-height: 16px !important;
}

.redpinimg {
  width: 15px;
}

.routescontainer {
  text-align: center;
}

.routeinfocontainer {
  min-width: 220px;
  opacity: 1;
  margin: 0px 9px 9px 9px;
  background-color: #1b2638;
  padding: 9px;
  border-radius: 3px;
  border: 1px solid black;
  position: relative;
}

.routebuttoncontainer {
  position: absolute;
  top: 18px;
  right: 22px;
}

.routeinfo {
  display: flex;
  flex-direction: column;
}

.legsummaryDiv {
  width: 200px;
  color: #00FF88;
  opacity: 1;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}

.routesicon .qaimg {
  height: 18px;
}

.trafficdurationDiv {
  font-size: 18px;
  margin-bottom: 4px;
  font-weight: 300;
  color: white;
}

.startinglocation {
  font-weight: 300;
  font-size: 11px;
  display: flex;
  border-radius: 10px;
  padding: 5px;
  margin: 12px 12px 7px 12px;
  flex-direction: row;
  /* background-color: #2663c9; */
}

.startinglocation:hover {
  background-color: #4285F4;
}

.endinglocation {
  font-weight: 300;
  font-size: 11px;
  display: flex;
  border-radius: 10px;
  padding: 5px;
  margin: 12px 12px 7px 12px;
  flex-direction: row;
}

.startinglocationImg, .endinglocationImg {
  width: 12px;
  margin-left: 5px;
  display: flex;
  align-content: center;
}

.startinglocationTxt, .endinglocationTxt {
  display: flex;
  align-items: center;
  line-height: 100%;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}


.ratingstars {
  unicode-bidi: bidi-override;
  position: relative;
  margin: 0 auto;
  padding: 0;
  color: #5b5b5b;
  font-size: 12px;
  height: 12px;
}

#ratingstarsTop {
  display: block;
  position: absolute;
  z-index: 1;
  padding: 0;
  top: 0;
  left: 0;
  color: #ff7100;
  overflow: hidden;
  width: 0;
}

#ratingstarsBottom {
  display: block;
  padding: 0;
  z-index: 0;
}

.ratingsnumDisplay {
  color: #ff7100;
}

.ratingsnumDisplay, .ratingsstarsDisplay, .reviewsnumDisplay, .operatingstatusDisplay {
  font-size: 12px;
}

.destinationNameContainer {
  padding: 2px 19px 19px 19px;
}

.destinationName {
  margin-bottom: 5px;
  font-size: 21px;
}

.ratingsDisplayContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.ratingsnumDisplay {
  margin-right: 5px;
}

.ratingsstarsDisplay {
  margin-right: 5px;
  font-size: 11px;
}

.reviewsnumDisplay {
  font-size: 10px;
  color: lightgray;
  margin-right: 5px;
}

.operatingstatusDisplay {
  font-weight: 400;
  font-size: 13px;
}

.destinationaddress {
  width: 250px;
  font-size: 14px;
  opacity: 1;
  font-weight: 300;
  color: lightgray;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.goodsummary {
  color: #00FF88;
}

.goodduration {
  color: #9df2ca;
}

.badsummary {
  color: #E41517;
}

.badduration {
  color: #f29d9f;
}

.quickaccesscontainer {
  display: flex;
  padding: 2px 9px 14px 9px;
  justify-content: space-evenly;
  align-content: center;
}

.qadiv {
  margin: 4px;
  margin-left: auto;
  margin-right: auto;
}

.qadesc {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #4285F4;
}

.qaimg {
  height: 25px;
}

.quickphonecontainer {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.quickphonecontainer, .openinghourscontainer, .sharecontainer, .websitecontainer {
  width: 76px;
  height: 76px;
  opacity: 0.8;
}

.quickphonecontainer:hover, .openinghourscontainer:hover, .sharecontainer:hover, .websitecontainer:hover {
  opacity: 1;
  cursor: pointer;
}

.quickphonecontainer:focus, .openinghourscontainer:focus, .sharecontainer:focus, .websitecontainer:focus, .expandarrow:focus {
  border: 2px solid #4285F4;
  opacity: 1;
  cursor: pointer;
}

.hourslistcontainer {
  padding: 0px 14px 14px 14px;
  display: inline-flex;
  width: 100%;
}

.hourslistul {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hourslistul li {
  padding: 5px 0px;
  font-size: 14px;
  float: left;
  clear: left;
}

.sharelink {
  position: absolute;
  display: none;
}

.arrowcontainer {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  text-align: center;
}

.arrowicon {
  opacity: 0.4;
  vertical-align: middle;
  height: 100%;
}

.arrowimg {
  width: 22px;
  vertical-align: middle;
}

.expandarrow {
  width: 100%;
  bottom: 5px;
  left: 4px;
  height: 30px;
  opacity: 0.5;
}

.expandarrowimg {
  width: 15px;
}

#directions > div:last-child {
  display: none;
}

.adp-listheader {
  display: none !important;
}

#directions {
  margin: 10px;
}

.adp-list {
  border-radius: 4px;
  border: 2px solid black;
  font-size: 16px;
}

.trafficdurationDiv {
  text-align: left;
}

@media all and (orientation:landscape) {
  main {
    flex-direction: row-reverse;
  }
  .mapsection {
    height: 100%;
  }
}

@media (min-width: 600px) {
  main {
    flex-direction: row-reverse;
  }
  .mapsection {
    height: 100%;
  }
}
